extends ../base/base
include ../components/page-top
include ../components/subject-cards

block content
  +pageTop("Class Information", "이 페이지 에서 학급에 관한 정보들을 확인해 보실 수 있습니다.")

  .class
    .choose-blocks
      ul
        li#chooseElement.seatingChart
          span 자리 배치도
        li#chooseElement.schedule
          span 시간표
        li#chooseElement.lunchSchedule
          span 급식

    .class-main
      .class-main__sections.class-main__seating-chart#chooseArea.seatingChart
        h2 자리 배치도
        .seating-chart(style="display:flex;")
          for column in seatingChartWithStudentObj
            .seating-chart__column
              for row in column
                if row.name == loggedInUser.name
                  .seating-chart__column__row.its-me
                    span.seating-chart__column__row__id=row.id
                    span.seating-chart__column__row__name=row.name
                else
                  .seating-chart__column__row
                    span.seating-chart__column__row__id=row.id
                    span.seating-chart__column__row__name=row.name

      .class-main__sections.class-main__schedule#chooseArea.schedule
        h2 시간표
        .schedule(style="display:flex;")
          .schedule-day
            for num in [1, 2, 3, 4, 5, 6, 7]
              .schedule-day__subject
                h4 #{num} 교시
          for day in schoolSchedule
            .schedule-day
              for subject in day
                .schedule-day__subject
                  +subjectCardInSchedule(subject)

      .class-main__sections.class-main__school-lunch#chooseArea.lunchSchedule
        h2 급식 시간표
        - const weekOfDay = ["월", "화", "수", "목" ,"금"]
        .school-lunch
          for day, index in lunchMenu
            .school-lunch__day
              .school-lunch__day__week-of-day
                span #{weekOfDay[index]}요일
              .school-lunch__day__menu
                for menu in day.lunch
                  p=menu

block scripts
  script(src="/static/js/classInfo.js")
