extends ../base/base
include ../components/subject-cards
include ../components/page-top

block content
  +pageTop(`Edit : ${ass.title}`)

  .ass-edit
    form.ass-edit__form(method="POST")#form
      if errorMessage
        span#errorMessage=errorMessage  
      h3 Edit #{ass.title}
      .form__element.form__element__content
        label(for="content")
          .content-label-mid
            span Content
          .content-label-right
            i.fa-solid.fa-pen-to-square#editIcon
            i.fa-solid.fa-eye#watchIcon
        .edit
          .edit__edit
            textarea(id="content", name="content", required)=ass.content
          .edit__watch.none-display
            #assignment
              .markdown-body
                h1 Hi

      .form__element.form__element__content__rep
        label 이런 가로 길이가 너무 작습니다. 더 큰화면으로 편집해주세요!

      .form__element
        .form__element__title
        label(for="title") Title
        input(type="text", name="title", id="title", value=ass.title, required).long
        .form__element__subject
        +subjectOptions(ass.subject)

      .form__element.from-to-form
        label Deadline
        input(type="text", name="deadLine", value=ass.deadLine).long

        .ass-edit__form__element__submit
          input(type="submit", value="Save Changes!").submit-btn#submitBtn

block scripts
  script(src="/static/js/edit.js")
  script(src="/static/js/checkNewAss.js")
