extends ../base/base
include ../components/subject-cards
include ../components/page-top

block content
  +pageTop(`Edit : ${ass.title}`)

  .ass-edit
    if errorMessage
      span#errorMessage=errorMessage  
    form.ass-edit__form(method="POST")#form
      h3 Edit #{ass.title}
      .form__element
        label(for="content")
          .content-label-mid
            span Content
          .content-label-right
            i.fa-solid.fa-pen-to-square#editIcon
            i.fa-solid.fa-eye#watchIcon
        .edit
          .edit__edit
            textarea(id="content", name="content", required)=ass.content
          .edit__watch.none-display
            #assignment
              .markdown-body

      .form__element
        .form__element__title
        label(for="title") Title
        input(type="text", name="title", id="title", value=ass.title, required).long
        .form__element__subject
        +subjectOptions(ass.subject)

      .form__element.from-to-form
        label Deadline
        .form__element__element.from-to-form__element
          label 시작일
          .from-to-form__element__main
            .from-to-form__element__main__element
              input(type="text", name="fromMonth", value=ass.deadLine.from.month)#fromMonth
              span 월
            .from-to-form__element__main__element
              input(type="text", name="fromDay", value=ass.deadLine.from.day)#fromDay
              span 일
            .from-to-form__element__main__element
              input(type="text", name="fromClass", value=ass.deadLine.from.class)#fromClass
              span 교시
        .form__element__element.from-to-form__element
          label 마지막일
          .from-to-form__element__main
            .from-to-form__element__main__element
              input(type="text", name="toMonth", value=ass.deadLine.to.month)#toMonth
              span 월
            .from-to-form__element__main__element
              input(type="text", name="toDay", value=ass.deadLine.to.day)#toDay
              span 일
            .from-to-form__element__main__element
              input(type="text", name="toClass", value=ass.deadLine.to.class)#toClass
              span 교시

        .ass-edit__form__element__submit
          input(type="submit", value="Save Changes!").submit-btn#submitBtn

block scripts
  script(src="/static/js/edit.js")
  script(src="/static/js/checkNewAss.js")
