extends ../base/base
include ../components/subject-cards
include ../components/page-top

block content
  +pageTop(`Edit : ${ass.title}`)

  .ass-edit
    if errorMessage
      span#errorMessage=errorMessage  
    form.ass-edit__form(method="POST")#form
      h3 Edit #{ass.title}
      .form__element
        label(for="content")
          .content-label-mid
            span Content
          .content-label-right
            i.fa-solid.fa-pen-to-square#editIcon
            i.fa-solid.fa-eye#watchIcon
        .edit
          .edit__edit
            textarea(id="content", name="content", required)=ass.content
          .edit__watch.none-display
            #assignment
              .markdown-body

      .form__element
        .form__element__title
        label(for="title") Title
        input(type="text", name="title", id="title", value=ass.title, required).long
        .form__element__subject
        +subjectOptions(ass.subject)

        .ass-edit__form__element__submit
          input(type="submit", value="Save Changes!").submit-btn

block scripts
  script(src="/static/js/edit.js")
