extends ../base/base
include ../components/page-top

block content
  +pageTop(`Watch : ${ass.title}`)

  .ass-watch
    .ass-watch__main
      .ass-watch__main__bar
        .ass-watch__main__bar__left
          i.fa-solid.fa-heading
          span.separator | 
          h2=ass.title
        .ass-watch__main__bar__right
          //- Vanilla JavaScript 로 toggl btn 만들어서 크게 또는 작게 만들 수 있게 만들기
          i.fa-solid.fa-expand#fullScreenBtn

      //- Vanilla JavaScript 로 data-content 에 있는 내용을 가지고 와서, Github Markdown API 를 보내어서 받은 HTML 여기다가 붙이기
      #assignment
        .markdown-body(data-content=ass.content)
          h1 Hi

    .ass-watch__btns
      .ass-watch__btns__element
        i.fa-solid.fa-heading
        span 제목
        span.separator : 
        h2=ass.title
      hr.element-separator
      .ass-watch__btns__element
        .ass-watch__btns__element__element
          i.fa-solid.fa-book
          span 교과
          span.separator : 
          a(href=`/subject/${subject.englishName}`)
            div(style=`background-color: ${subject.uniqueColor}`, id="subjectColor")
            span=subject.name
        hr.element-separator
        .ass-watch__btns__element__element
          i.fa-solid.fa-clock-rotate-left
          span 기한
          span.separator : 
          span #{ass.deadLine.from.month} 월 #{ass.deadLine.from.day} 일 #{ass.deadLine.from.class} 교시 ~ #{ass.deadLine.to.month} 월 #{ass.deadLine.to.day} 일 #{ass.deadLine.to.class} 교시
          //- span=ass.createdAt.toDateString()
        hr.element-separator
        .ass-watch__btns__element__element
          i.fa-solid.fa-eye
          span 조회수
          span.separator : 
          if ass.meta.views < 2
            span #{ass.meta.views} view
          else
            span #{ass.meta.views} views
      hr.element-separator
      .ass-watch__btns__btns
        //- Vanilla JavaScript : 클릭시 Save API 보내기
        a#saveAssBtn.save-btn
          i.fa-solid.fa-bookmark
          span Save
        if String(ass.owner._id) == String(loggedInUser._id)
          a(href=`/assignment/${ass.title}/edit`).edit-btn
            i.fa-solid.fa-pen-to-square
            span Edit
          a(href=`/assignment/${ass.title}/delete`).delete-btn
            i.fa-solid.fa-delete-left
            span Delete

block scripts
  script(src="/static/js/watchScreenController.js")
  script(src="/static/js/markdown.js")
