extends ../base/base
include ../components/page-top
include ../components/issues

block content
  +pageTop(`Watch : ${ass.title}`)

  .ass-watch
    .ass-watch__main
      .ass-watch__main__bar
        .ass-watch__main__bar__left
          i.fa-solid.fa-heading
          span.separator | 
          h2=ass.title
        .ass-watch__main__bar__right
          i.fa-solid.fa-expand#fullScreenBtn

      #assignment
        .markdown-body(data-content=ass.content)
          h1 Waiting for response of server...

    .ass-watch__btns
      .ass-watch__btns__element
        i.fa-solid.fa-heading
        span 제목
        span.separator : 
        h2=ass.title
      hr.element-separator
      .ass-watch__btns__element
        .ass-watch__btns__element__element
          i.fa-solid.fa-user
          span 글쓴이
          span.separator : 
          span #{ass.owner.number} #{ass.owner.name}
        hr.element-separator
        .ass-watch__btns__element__element
          i.fa-solid.fa-book
          span 교과
          span.separator : 
          a(href=`/subject/${subject.englishName}`)
            div(style=`background-color: ${subject.uniqueColor}`, id="subjectColor")
            span=subject.name
        hr.element-separator
        .ass-watch__btns__element__element
          i.fa-solid.fa-clock-rotate-left
          span 기한
          span.separator : 
          span=ass.deadLine
      hr.element-separator
      .ass-watch__btns__btns
        a#saveAssBtn.selected(data-title=ass.title)
          i.fa-solid.fa-bookmark
          span Waiting for response of server...
        a#copyUrlBtn.copy-btn
          i.fa-solid.fa-copy
          span Copy URL
        if String(ass.owner._id) == String(loggedInUser._id)
          a(href=`/assignment/${ass.title}/edit`).edit-btn
            i.fa-solid.fa-pen-to-square
            span Edit
          a(href=`/assignment/${ass.title}/delete`).delete-btn
            i.fa-solid.fa-delete-left
            span Delete

  .ass-issue#assName(data-name=ass.title)
    .ass-issue__show
      for issue in ass.issues
        +issues(issue)
      else
        +notIssuesFound()
    .ass-issue__create
      +createIssues()

block scripts
  script(src="/static/js/watchScreenController.js")
  script(src="/static/js/markdown.js")
  script(src="/static/js/saveAss.js")
  script(src="/static/js/copyLink.js")
  script(src="/static/js/createIssue.js")
