extends ../base/base
include ../components/page-top

block content
  +pageTop("Your Profile", `이 페이지에서는 ${loggedInUser.name} 님의 정보들을 확인하실 수 있습니다.`)

  .profile
    .profile__side-bar
      .profile__side-bar__big
        h1=userProfile.number
        h2=userProfile.name
      .profile__side-bar__small
        .profile__side-bar__small__element
          span=userProfile.number
        .profile__side-bar__small__element
          span=userProfile.name
        .profile__side-bar__small__element
          span=userProfile.username
        .profile__side-bar__small__element
          span=userProfile.bio
    .profile__main
      .profile__main__navbar

      .profile__main__main
