extends ../base/base
include ../components/page-top
include ../components/assignments-cards
include ../components/issues

block content
  +pageTop("Your Profile", `이 페이지에서는 ${loggedInUser.name} 님의 정보들을 확인하실 수 있습니다.`)

  .profile

    .profile-side-bar
      .profile-side-bar__show#profileShow
        .profile-side-bar__element
          h4 Your Information
        .profile-side-bar__element
          label Number
          span=userProfile.number
        .profile-side-bar__element
          label Name
          span=userProfile.name
        .profile-side-bar__element
          label Username
          span=userProfile.username
        .profile-side-bar__element
          label Bio
          if userProfile.bio
            span=userProfile.bio
          else
            span.nono Here is no bio.
        .profile-side-bar__small__element
          input.submit-btn#editProfile(type="button", value="Edit Profile")              
    
      .profile-side-bar__edit.none-display#profileEdit
        .profile-side-bar__element
          h4 Your Information
        .profile-side-bar__element
          label Username
          input#usernameInput(type="text", value=userProfile.username, maxlength=20, placeholder="Username")
        .profile-side-bar__element
          label Bio
          input#bioInput(type="text", value=userProfile.bio, maxlength=50, placeholder="Bio")
        .profile-side-bar__small__element
          input.submit-btn#edit(type="button", value="Save Changes!")
          input.disabled-btn#cancel(type="button", value="Cancel")
    
    .profile-main
      .profile-main__navbar
        .choose-blocks
          ul
            li#chooseElement.createdAssignment
              span Created Assignment
            li#chooseElement.savedAssignmnet
              span Saved Assignment
            li#chooseElement.createdIssues
              span Created Issues

      .profile-main__main
        .profile-main__main__created-assignment#chooseArea.createdAssignment
          h2 Created Assignments
          for createdAssignment in userProfile.createdAssignments
            +assignmentsCard(createdAssignment)
          else
            span You create no any Assignments.

        .profile-main__main__saved-assignment#chooseArea.savedAssignmnet
          h2 Saved Assignments
          for savedAssignment in userProfile.savedAssignments
            +assignmentsCard(savedAssignment)
          else
            span You save no any Assignments.

        .profile-main__main__created-issues#chooseArea.createdIssues
          h2 Created Issues
          for createdIssue in userProfile.createdIssues
            +issues(createdIssue)
          else
            span You create no any Issues.

block scripts
  script(src="/static/js/classInfo.js")
  script(src="/static/js/editProfile.js")
