mixin assignmentsCard(ass)
  #assignmentsCard
    .assignments-card__top
      .assignments-card__top__left
        i.fa-solid.fa-heading
        span.separator | 
        a(href=`/assignment/${ass.title}`)
          h4=ass.title
      .assignments-card__top__right
        div(style=`background-color: ${ass.subject.uniqueColor}`, id="subjectColor")
        a(href=`/subject/${ass.subject.englishName}`)
          span=ass.subject.englishName
    .assignments-card__bottom
      .assignments-card__bottom__left
        i.fa-solid.fa-clock-rotate-left
        span=ass.deadLine
      .assignments-card__botton__right
        i.fa-solid.fa-user
        span=ass.owner.number
        span  #{ass.owner.name} 
