mixin assignmentsCard(ass)
  #assignmentsCard
    .assignments-card__top
      i.fa-solid.fa-heading
      span.separator | 
      a(href=`/assignment/${ass.title}`)
        h4=ass.title
    .assignments-card__mid
      div(style=`background-color: ${ass.subject.uniqueColor}`, id="subjectColor")
      a(href=`/subject/${ass.subject.englishName}`)
        - const subjectName = ass.subject.englishName.charAt(0).toUpperCase() + ass.subject.englishName.slice(1);
        span=subjectName
    .assignments-card__bottom
      .assignments-card__bottom__left
        i.fa-solid.fa-clock-rotate-left
        span=ass.createdAt.toDateString()
      .assignments-card__bottom__right
        i.fa-solid.fa-eye
        span=ass.meta.views
