mixin assignmentsCard(ass)
  #assignmentsCard
    .assignments-card__top
      i.fa-solid.fa-heading
      a(href=`/assignment/${ass.title}`)
        h4=ass.title
    .assignments-card__mid
      div(style=`background-color: ${ass.subject.uniqueColor}`, id="subjectColor")
      i.fa-solid.fa-book
      a(href=`/subject/${ass.subject}`)
        span=ass.subject
    .assignments-card__bottom
      .assignments-card__bottom__left
        i.fa-solid.fa-timer
        span=ass.createdAt
      .assignments-card__bottom__right
        i.fa-solid.fa-eye
        span=ass.meta.views
