mixin assignmentsCard(ass)
  #assignmentsCard
    .assignments-card__top
      i.fa-solid.fa-heading
      span.separator | 
      a(href=`/assignment/${ass.title}`)
        h4=ass.title
    .assignments-card__mid
      div(style=`background-color: ${ass.subject.uniqueColor}`, id="subjectColor")
      a(href=`/subject/${ass.subject.englishName}`)
        - const subjectName = ass.subject.charAt(0).toUpperCase() + ass.subject.slice(1);
        span=subjectName
    .assignments-card__bottom
      .assignments-card__bottom__left
        i.fa-solid.fa-clock-rotate-left
        span #{ass.deadLine.from.month} 월 #{ass.deadLine.from.day} 일 #{ass.deadLine.from.class} 교시 ~ #{ass.deadLine.to.month} 월 #{ass.deadLine.to.day} 일 #{ass.deadLine.to.class} 교시
      .assignments-card__bottom__right
        i.fa-solid.fa-eye
        span=ass.meta.views
