mixin pageTop(pageTitle, pageDescription)
  .page-top
    canvas#gradient
    .page-top__header
      h1=pageTitle
      p=pageDescription

mixin pageSubTop(subTitle, subDescription)
  .page-sub-top
    h2=subTitle
    p=subDescription

mixin pageElement(...elementContents)
  .page-element
    for elementContent in elementContents
      .page-element__element
        a(href=elementContent.url).page-element__elements__element
          h4=elementContent.text
