mixin subjectCard(subjectObj)
  include ./buttons
  #subjectCard
    .subject-card__top
      .subject-card__top__left
        a(href=`/subject/${subjectObj.englishName}`)
          div(style=`background-color: ${subjectObj.uniqueColor}`, id="subjectColor")
          h3.subject-card__name=subjectObj.name
      .subject-card__top__right
        a(href=`/subject/${subjectObj.englishName}`)
          i.fa-solid.fa-person-chalkboard
          span #{subjectObj.teacher} 선생님
    .subject-card__bottom
      +googleClassroomBtn(subjectObj.googleClassroomId)
      +zoomBtn(subjectObj.zoomLink)

mixin subjectCardInSchedule(subjectObj)
  #subjectCardInSchedule
    .subject-card-in-schedule
      a(href=`/subject/${subjectObj.englishName}`)
        div(style=`background-color: ${subjectObj.uniqueColor}`, id="subjectColor")
        h4=subjectObj.name

mixin subjectOptions(select)
  select.long(id="subject", name="subject", required)

    if select == "class-room"
      option(value="Class-Room", selected) Class Room
    else
      option(value="Class-Room") Class Room

    if select == "korean"
      option(value="Korean", selected) Korean
    else
      option(value="Korean") Korean

    if select == "english"
      option(value="English", selected) English
    else
      option(value="English") English

    if select == "math"
      option(value="Math", selected) Math
    else
      option(value="Math") Math

    if select == "history"
      option(value="History", selected) History
    else
      option(value="history") History

    if select == "science-a"
      option(value="Science-A", selected) Science A
    else
      option(value="Science-A") Science A

    if select == "science-b"
      option(value="Science-B", selected) Science B
    else 
      option(value="Science-B") Science B

    if select == "music"
      option(value="Music", selected) Music
    else
      option(value="Music") Music

    if select == "athletic"
      option(value="Athletic", selected) Athletic
    else
      option(value="Athletic") Athletic

    if select == "giga"
      option(value="Giga", selected) Giga
    else
      option(value="Giga") Giga

    if select == "chinese"
      option(value="Chinese", selected) Chinese
    else
      option(value="Chinese") Chinese

    if select == "moral"
      option(value="Moral-Education", selected) Moral
    else
      option(value="Moral-Education") Moral
